p{
font-family: 'Exo 2', sans-serif;
}
img{
  max-width: 100;
}
ul{
  list-style: none
  margin: 20px;
  padding: 20px;
}
li {
  display: inline;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
body{
  background-color: salmon
}
